@charset "utf-8";
/* CSS Document */

#altColorTable
{

font-size:12px;
//border-collapse:collapse;

}
#altColorTable td, #altColorTable th 
{
//font-size:1em;
border:hidden;
//padding:3px 7px 2px 7px;
text-shadow:#CCC;
}
#altColorTable th 
{

background-color:#CCCFFF;

}
#altColorTable tr.alt td 
{

background-color:#CCCFFF;
}
